PORT=4000
CLIENT_ORIGIN=http://localhost:5173
MONGODB_URI=mongodb+srv://usuario:password@cluster.mongodb.net/abmolist?retryWrites=true&w=majority

# Opcion recomendada para desarrollo local:
FIREBASE_SERVICE_ACCOUNT_JSON=/ruta/completa/a/firebase-service-account.json

# Opcion alternativa si prefieres variables sueltas:
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
